body {
    background-color: rgba(59, 53, 53, 0.726);
}

hr {
    border-color: grey;
    width: 7%;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
}

h1,h3 {
    color: aqua;
}
hr:hover{
    border-width: 10px;
}